.main-con{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.pri{
    width: 17%;
    overflow: hidden;
}
.secconod{
    background-color: var(--whiteclr);
    margin: 25px 15px 15px 0px;
    border-radius: 20px;
    width: 83%;
    overflow: scroll;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */

}
.secconod::-webkit-scrollbar {
    display: none;
  }
  .orhead{
    padding: 20px;
  }
  .orhead>span{
    color: var(--tc);
    font-size: 25px;
  }
.ocds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pagination{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev{
  padding: 10px 8px;
  font-size: 18px;
  border: 1px solid var(--purpelclr);
  color: var(--purpelclr);
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.next{
  padding: 10px 8px;
  font-size: 18px;
  border: 1px solid var(--purpelclr);
  color: var(--purpelclr);
  border-radius: 4px;
cursor: pointer;
}

  /*order card component css*/
.flipcard{
    background-color:transparent;
    margin: 5px;
    perspective: 1000px;
}
.inner{
    min-width: 250px;
    min-height: 300px;
    position: relative;
transform-style: preserve-3d;
transition: transform 0.6s;
}
.flipcard:hover .inner {
    transform: rotateY(180deg);
  }
  
  .mncorder{
    min-width: 250px;
    min-height: 300px;
    background-color: var(--whiteclr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .mncorderback{
    min-width: 250px;
    min-height: 300px;
    transform: rotateY(180deg);
    background-color: var(--whiteclr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  }

  .userimage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userimage img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    align-items: center;
}
.spac{
    margin-top: 20px;
}
  .partext{
   margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .ques{
    font-size: 18px;
    color: var(--tc);
    font-weight: 300;
  }
  .ans{
    font-size: 14px;
    font-weight: lighter;
  }
  .cdilvery{
   color: var(--tc);
   border: 1px solid var(--purpelclr);
   display: inline-block;
   padding: 10px 15px;
   margin-top: 20px;
   margin-bottom: 20px;
  cursor: pointer;
}
